:root {
    --White: hsl(0, 0%, 100%);
    --LightPink: hsl(275, 100%, 97%);
    --GrayishPurple: hsl(292, 16%, 49%);
    --DarkPurple: hsl(292, 42%, 14%);
    --Pink: #AD28EB;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    background: var(--LightPink);

}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.banner {
    display: flex;
    width: 1440px;
    height: 320px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-image: url(assets/images/background-pattern-desktop.svg)
}

.card {
    position: relative;
    display: flex;
    width: 600px;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    top: -160px;
    gap: 32px;
    border-radius: 16px;
    background: var(--White);
    box-shadow: 0px 32px 56px 0px rgba(80, 0, 118, 0.10);
}

.header--title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title--image {
    width: 40px;
    height: 40px;
}

.title {
    font-family: Work Sans;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
}

.question-answer--container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;

}


.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question--title {

    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.question--title:hover {
    color: var(--Pink);
    cursor: pointer;
}

.answer {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: var(--GrayishPurple);


}

.faq-answer {
    padding-bottom: 24px;
    display: none;
}

.active {
    display: block;
}

button {
    text-decoration: none;
    outline: none;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: inline-block;
}

@media only screen and (max-width: 375px) {

    .banner {
        display: flex;
        width: 375px;
        padding: 0px 24px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
        background-image: url(assets/images/background-pattern-mobile.svg)
    }
}